@import "vars";
@import "fonts";
@import "media";
@import "libs";

main {
	background-color: #565647;
}

header {
	background-color: rgb(145, 77, 77);
}

footer {
	background-color: rgb(60, 58, 102);
}

.header-wrapper {
	display: grid;
}

.logo a {
	display: block;
	background-color: rgb(65, 26, 26);
}