<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Pug test
		link(rel="stylesheet", href="css/style.min.css")
	body
		.wrapper 
			.container
				header.header
					.header__wrapper
						.logo
							|
							|
							a(href="#")
								|
								|
								img(src="img/Golden-Way.png", alt="logo__img")
						.header__menu
							nav
				main main content
				footer footer content
					|
					|
					a(href='google.com') Google
					|
					|
					a(class='button' href='google.com') Google
					|
					|
					a(class='button', href='google.com') Google
